# ğŸš² ì„œìš¸ì‹œ ìì „ê±° ì´ìš© ë°ì´í„° ë¶„ì„
ë³¸ í”„ë¡œì íŠ¸ì—ì„œëŠ” 2024ë…„ 12ì›” ì„œìš¸ì‹œ ê³µê³µìì „ê±°(ë”°ë¦‰ì´) ë°ì´í„°ì™€ ë‚ ì”¨ ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬

**ì‹œê°„ëŒ€/ìš”ì¼ë³„ ì´ìš©ëŸ‰**, **ì¸ê¸° ëŒ€ì—¬ì†Œ/ë°˜ë‚©ì†Œ**, **ê³„ì ˆë³„ ë³€í™”**, **ë‚ ì”¨ì™€ì˜ ìƒê´€ê´€ê³„**ë¥¼ ë¶„ì„í•©ë‹ˆë‹¤.

ë°ì´í„° ë¶„ì„ì— ì•ì„œ ë°ì´í„°ëŠ” ì„œìš¸ì‹œ ì—´ë¦°ë°ì´í„° ê´‘ì¥ì—ì„œ ì‹œê°„ëŒ€ë³„ ìì „ê±° ë°ì´í„°(12ì›”)ì™€ ë‚ ì”¨ ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ê¸° ìœ„í•œ ì¤€ë¹„ ê³¼ì •ì…ë‹ˆë‹¤.

## 1. ìì „ê±° ë°ì´í„° ì²˜ë¦¬

In [25]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

# CSV íŒŒì¼ ê²½ë¡œ ì„¤ì •
file_path = '../datas/ì„œìš¸íŠ¹ë³„ì‹œ ê³µê³µìì „ê±° ì´ìš©ì •ë³´(ì‹œê°„ëŒ€ë³„)_202412.csv'

# CSV íŒŒì¼ ì½ê¸° (cp949 ì¸ì½”ë”© ì‚¬ìš©)
data = pd.read_csv(file_path, encoding='cp949')

# ë°ì´í„° í™•ì¸
print(data.head())

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸                 ëŒ€ì—¬ì†Œëª… ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ   ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜
0  2024-12-01     0   1442  1442. ì¤‘ë‘êµ¬ì²­ ì¤‘í™”ë™ ë³„ê´€ ì•    ì •ê¸°ê¶Œ  NaN  ~10ëŒ€     1  \
1  2024-12-01     0   2728     2728.ë§ˆê³¡ë‚˜ë£¨ì—­ 3ë²ˆ ì¶œêµ¬    ì •ê¸°ê¶Œ  NaN  ~10ëŒ€     1
2  2024-12-01     0   1023     1023. í•œêµ­ì¢…í•©ê¸°ìˆ ì‚¬ì˜¥ ì•    ì •ê¸°ê¶Œ  NaN   20ëŒ€     1
3  2024-12-01     0   1150       1150. ì†¡ì •ì—­ 1ë²ˆì¶œêµ¬    ì •ê¸°ê¶Œ  NaN   20ëŒ€     1
4  2024-12-01     0   1260  1260. ë°©ì´ë™ í•œì–‘3ì°¨ì•„íŒŒíŠ¸ ì˜†    ì •ê¸°ê¶Œ  NaN   20ëŒ€     1

      ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰  ì´ë™ê±°ë¦¬(M)  ì´ìš©ì‹œê°„(ë¶„)
0  105.32  0.66  2829.30       18
1   22.45  0.25  1090.00        7
2  148.31  0.87  3745.23       21
3   24.01  0.19   808.44        6
4   92.85  0.94  4042.55       35

In [26]:
# ëŒ€ì—¬ì¼ì + ëŒ€ì—¬ì‹œê°„ 

data['ëŒ€ì—¬ì¼ì‹œ'] = pd.to_datetime(data['ëŒ€ì—¬ì¼ì'].astype(str) + ' ' + data['ëŒ€ì—¬ì‹œê°„'].astype(str).str.zfill(2) + ':00')

# í™•ì¸
print(data.sample(5))

               ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸                 ëŒ€ì—¬ì†Œëª… ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ   ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜
1603510  2024-12-23    11    213             213. KTì•    ì •ê¸°ê¶Œ  NaN   20ëŒ€     1  \
52023    2024-12-01    20   3569          3569.ê±´ëŒ€ë³‘ì›í›„ë¬¸    ì¼ì¼ê¶Œ    M   20ëŒ€     1
606826   2024-12-09     7   1171  1171. ì—¼ì°½ë™ ìƒˆë§ˆì„ê¸ˆê³  ê±´ë„ˆí¸    ì •ê¸°ê¶Œ    M  ~10ëŒ€     1
446842   2024-12-06    15   2907          2907. ì›”ê³„ì¤‘í•™êµ    ì •ê¸°ê¶Œ    F  ~10ëŒ€     2
1469478  2024-12-20    14   1957     1957. êµ¬ì¼ê³ ë“±í•™êµ ì •ë¬¸     ì •ê¸°ê¶Œ    M   30ëŒ€     1

           ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰  ì´ë™ê±°ë¦¬(M)  ì´ìš©ì‹œê°„(ë¶„)                ëŒ€ì—¬ì¼ì‹œ
1603510  25.91  0.22   962.07        8 2024-12-23 11:00:00
52023    69.00  0.61  2640.00       14 2024-12-01 20:00:00
606826   37.58  0.34  1460.00       14 2024-12-09 07:00:00
446842   80.44  0.87  3738.50       24 2024-12-06 15:00:00
1469478  79.28  0.71  3080.00       22 2024-12-20 14:00:00

In [27]:
# í•„ìš”í•œ ì¹¼ëŸ¼ ì„ íƒ
selected_columns = [
    'ëŒ€ì—¬ì¼ì‹œ', 'ëŒ€ì—¬ì†Œëª…', 'ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ', 'ì„±ë³„', 'ì—°ë ¹ëŒ€ì½”ë“œ', 'ì´ìš©ê±´ìˆ˜', 
    'ìš´ë™ëŸ‰', 'íƒ„ì†ŒëŸ‰', 'ì´ë™ê±°ë¦¬(M)', 'ì´ìš©ì‹œê°„(ë¶„)'
]
data = data[selected_columns]

print(data.sample(5))

                       ëŒ€ì—¬ì¼ì‹œ                     ëŒ€ì—¬ì†Œëª… ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ   ì„±ë³„  ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜
455396  2024-12-06 16:00:00           806. ì „ìëœë“œ ë³¸ê´€ ì•    ì •ê¸°ê¶Œ    M    40ëŒ€     1  \
1029135 2024-12-14 01:00:00         3778. ê¹€í¬ê³µí•­ì…êµ¬ êµì°¨ë¡œ    ì •ê¸°ê¶Œ  NaN  70ëŒ€ì´ìƒ     1
1022604 2024-12-13 22:00:00  1503. ê°•ë¶êµ¬ì²­ì‚¬ê±°ë¦¬(ìˆ˜ìœ ì—­ 8ë²ˆì¶œêµ¬)    ì •ê¸°ê¶Œ  NaN    20ëŒ€     1
911417  2024-12-12 16:00:00         1754. ì°½ë™ì‹œì¥ì…êµ¬ ì‚¬ê±°ë¦¬    ì •ê¸°ê¶Œ    M   ~10ëŒ€     1
834309  2024-12-11 18:00:00           5066. ì•„ë§ë–¼ë§ˆê³¡ì „ì‹œì¥    ì •ê¸°ê¶Œ    F    40ëŒ€     1

            ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰  ì´ë™ê±°ë¦¬(M)  ì´ìš©ì‹œê°„(ë¶„)
455396   266.46  1.88  8106.94       87
1029135   62.00  0.61  2609.46       15
1022604  109.29  0.71  3066.61       18
911417    32.25  0.24  1044.24        5
834309    10.94  0.11   484.75        6

In [28]:
# ìš”ì¼ê³¼ ì‹œê°„ëŒ€ ì¹¼ëŸ¼ ì¶”ê°€
data['ìš”ì¼'] = data['ëŒ€ì—¬ì¼ì‹œ'].dt.day_name()  # ìš”ì¼
data['ì‹œê°„ëŒ€'] = data['ëŒ€ì—¬ì¼ì‹œ'].dt.hour  # ì‹œê°„ëŒ€

print(data.sample(5))

                       ëŒ€ì—¬ì¼ì‹œ                      ëŒ€ì—¬ì†Œëª… ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ   ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜
819364  2024-12-11 15:00:00               4864. ì†¡íŒŒì‚¬ê±°ë¦¬    ì •ê¸°ê¶Œ    M   40ëŒ€     1  \
930101  2024-12-12 19:00:00  2340. ì‚¼í˜¸ë¬¼ì‚°ë²„ìŠ¤ì •ë¥˜ì¥(23370) ì˜†    ì •ê¸°ê¶Œ  NaN   30ëŒ€     1
2079258 2024-12-31 10:00:00            1708. ë„ë´‰ë³´ê±´ì†Œì‚¬ê±°ë¦¬    ì •ê¸°ê¶Œ    M   60ëŒ€     1
1829146 2024-12-26 22:00:00            1625. ìƒê³„ì—­ 3ë²ˆì¶œêµ¬    ì •ê¸°ê¶Œ  NaN   60ëŒ€     1
2087139 2024-12-31 13:00:00       2337. ëŒ€ëª¨ì‚°ì…êµ¬ì—­ 2ë²ˆì¶œêµ¬ ì•    ì •ê¸°ê¶Œ    F  ~10ëŒ€     1

           ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰  ì´ë™ê±°ë¦¬(M)  ì´ìš©ì‹œê°„(ë¶„)         ìš”ì¼  ì‹œê°„ëŒ€
819364   53.03  0.50  2160.00       95  Wednesday   15
930101   52.99  0.44  1884.85       24   Thursday   19
2079258  28.49  0.26  1141.83        8    Tuesday   10
1829146  28.24  0.25  1097.02       10   Thursday   22
2087139   0.00  0.00     0.00       56    Tuesday   13

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2126133 entries, 0 to 2126132
Data columns (total 12 columns):
 #   Column   Dtype
---  ------   -----
 0   ëŒ€ì—¬ì¼ì‹œ     datetime64[ns]
 1   ëŒ€ì—¬ì†Œëª…     object
 2   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ   object
 3   ì„±ë³„       object
 4   ì—°ë ¹ëŒ€ì½”ë“œ    object
 5   ì´ìš©ê±´ìˆ˜     int64
 6   ìš´ë™ëŸ‰      object
 7   íƒ„ì†ŒëŸ‰      object
 8   ì´ë™ê±°ë¦¬(M)  float64
 9   ì´ìš©ì‹œê°„(ë¶„)  int64
 10  ìš”ì¼       object
 11  ì‹œê°„ëŒ€      int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(2), object(7)
memory usage: 186.5+ MB

In [30]:
print(data.isna().sum())

ëŒ€ì—¬ì¼ì‹œ            0
ëŒ€ì—¬ì†Œëª…            0
ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ          0
ì„±ë³„         551865
ì—°ë ¹ëŒ€ì½”ë“œ           0
ì´ìš©ê±´ìˆ˜            0
ìš´ë™ëŸ‰             0
íƒ„ì†ŒëŸ‰             0
ì´ë™ê±°ë¦¬(M)         0
ì´ìš©ì‹œê°„(ë¶„)         0
ìš”ì¼              0
ì‹œê°„ëŒ€             0
dtype: int64

In [31]:

data['ì„±ë³„'] = data['ì„±ë³„'].replace({'f': 'F', 'm': 'M', 'F': 'F', 'M': 'M'})

In [32]:
# ìƒìœ„ í´ë”ì˜ datas í´ë”ì— cleaned_bike.csvë¡œ ì €ì¥
output_file_path = '../datas/cleaned_bike.csv'
data.to_csv(output_file_path, index=False, encoding='cp949')

## 2. ê¸°ìƒ ë°ì´í„° ì²˜ë¦¬

In [33]:
# CSV íŒŒì¼ ê²½ë¡œ ì„¤ì •
file_path = '../datas/OBS_ASOS_TIM_20250510152404.csv'

# CSV íŒŒì¼ ì½ê¸° (cp949 ì¸ì½”ë”© ì‚¬ìš©)
df = pd.read_csv(file_path, encoding='cp949')

# ë°ì´í„° í™•ì¸
print(df.head())

    ì§€ì  ì§€ì ëª…                ì¼ì‹œ  ê¸°ì˜¨(Â°C)  ê¸°ì˜¨ QCí”Œë˜ê·¸  ê°•ìˆ˜ëŸ‰(mm)  ê°•ìˆ˜ëŸ‰ QCí”Œë˜ê·¸  í’ì†(m/s)
0  108  ì„œìš¸  2024-12-01 00:00     2.8       NaN      NaN        9.0      1.5  \
1  108  ì„œìš¸  2024-12-01 01:00     2.5       NaN      NaN        NaN      1.9
2  108  ì„œìš¸  2024-12-01 02:00     2.3       NaN      NaN        NaN      1.7
3  108  ì„œìš¸  2024-12-01 03:00     1.9       NaN      NaN        NaN      2.5
4  108  ì„œìš¸  2024-12-01 04:00     1.7       NaN      NaN        NaN      1.9

   í’ì† QCí”Œë˜ê·¸  í’í–¥(16ë°©ìœ„)  ...  ìµœì €ìš´ê³ (100m )  ì‹œì •(10m)  ì§€ë©´ìƒíƒœ(ì§€ë©´ìƒíƒœì½”ë“œ)  í˜„ìƒë²ˆí˜¸(êµ­ë‚´ì‹)
0       NaN        50  ...          NaN      512           NaN       19.0  \
1       NaN        20  ...          NaN      356           NaN       19.0
2       NaN        20  ...          NaN      414           NaN       19.0
3       NaN        20  ...          NaN      297           NaN       19.0
4       NaN        50  ...          NaN      386           NaN       19.0

   ì§€ë©´ì˜¨ë„(Â°C)  ì§€ë©´ì˜¨ë„ QCí”Œë˜ê·¸  5cm ì§€ì¤‘ì˜¨ë„(Â°C)  10cm ì§€ì¤‘ì˜¨ë„(Â°C)  20cm ì§€ì¤‘ì˜¨ë„(Â°C)
0       0.5         NaN           3.6            3.7            5.0  \
1       0.2         NaN           3.5            3.6            4.9
2       0.0         NaN           3.4            3.5            4.9
3       0.0         NaN           3.3            3.4            4.9
4      -0.1         NaN           3.2            3.4            4.9

   30cm ì§€ì¤‘ì˜¨ë„(Â°C)
0            6.3
1            6.2
2            6.2
3            6.2
4            6.2

[5 rows x 38 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ì§€ì              744 non-null    int64
 1   ì§€ì ëª…            744 non-null    object
 2   ì¼ì‹œ             744 non-null    object
 3   ê¸°ì˜¨(Â°C)         744 non-null    float64
 4   ê¸°ì˜¨ QCí”Œë˜ê·¸       0 non-null      float64
 5   ê°•ìˆ˜ëŸ‰(mm)        23 non-null     float64
 6   ê°•ìˆ˜ëŸ‰ QCí”Œë˜ê·¸      148 non-null    float64
 7   í’ì†(m/s)        744 non-null    float64
 8   í’ì† QCí”Œë˜ê·¸       0 non-null      float64
 9   í’í–¥(16ë°©ìœ„)       744 non-null    int64
 10  í’í–¥ QCí”Œë˜ê·¸       0 non-null      float64
 11  ìŠµë„(%)          744 non-null    int64
 12  ìŠµë„ QCí”Œë˜ê·¸       0 non-null      float64
 13  ì¦ê¸°ì••(hPa)       744 non-null    float64
 14  ì´ìŠ¬ì ì˜¨ë„(Â°C)      744 non-null    float64
 15  í˜„ì§€ê¸°ì••(hPa)      744 non-null    float64
 16  í˜„ì§€ê¸°ì•• QCí”Œë˜ê·¸     0 non-null      float64
 17  í•´ë©´ê¸°ì••(hPa)      744 non-null    float64
 18  í•´ë©´ê¸°ì•• QCí”Œë˜ê·¸     0 non-null      float64
 19  ì¼ì¡°(hr)         341 non-null    float64
 20  ì¼ì¡° QCí”Œë˜ê·¸       404 non-null    float64
 21  ì¼ì‚¬(MJ/m2)      341 non-null    float64
 22  ì¼ì‚¬ QCí”Œë˜ê·¸       404 non-null    float64
 23  ì ì„¤(cm)         84 non-null     float64
 24  3ì‹œê°„ì‹ ì ì„¤(cm)     4 non-null      float64
 25  ì „ìš´ëŸ‰(10ë¶„ìœ„)      744 non-null    int64
 26  ì¤‘í•˜ì¸µìš´ëŸ‰(10ë¶„ìœ„)    744 non-null    int64
 27  ìš´í˜•(ìš´í˜•ì•½ì–´)       253 non-null    object
 28  ìµœì €ìš´ê³ (100m )    246 non-null    float64
 29  ì‹œì •(10m)        744 non-null    int64
 30  ì§€ë©´ìƒíƒœ(ì§€ë©´ìƒíƒœì½”ë“œ)   0 non-null      float64
 31  í˜„ìƒë²ˆí˜¸(êµ­ë‚´ì‹)      101 non-null    float64
 32  ì§€ë©´ì˜¨ë„(Â°C)       744 non-null    float64
 33  ì§€ë©´ì˜¨ë„ QCí”Œë˜ê·¸     0 non-null      float64
 34  5cm ì§€ì¤‘ì˜¨ë„(Â°C)   744 non-null    float64
 35  10cm ì§€ì¤‘ì˜¨ë„(Â°C)  744 non-null    float64
 36  20cm ì§€ì¤‘ì˜¨ë„(Â°C)  744 non-null    float64
 37  30cm ì§€ì¤‘ì˜¨ë„(Â°C)  744 non-null    float64
dtypes: float64(29), int64(6), object(3)
memory usage: 221.0+ KB

In [35]:
# 'ì¼ì‹œ' ì¹¼ëŸ¼ì„ datetime í˜•ì‹ìœ¼ë¡œ ë³€í™˜
df['ì¼ì‹œ'] = pd.to_datetime(df['ì¼ì‹œ'])

# ìì „ê±°ì™€ ê´€ë ¨ëœ ì¹¼ëŸ¼ ì„ íƒ (ì˜ˆì‹œ: ê¸°ì˜¨, ê°•ìˆ˜ëŸ‰, í’ì† ë“±)
# í•„ìš”í•œ ì¹¼ëŸ¼ ì´ë¦„ì„ ì‹¤ì œ ë°ì´í„°ì— ë§ê²Œ ìˆ˜ì •í•˜ì„¸ìš”.
bike_related_columns = [
    'ì¼ì‹œ', 'ê¸°ì˜¨(Â°C)', 'ê°•ìˆ˜ëŸ‰(mm)', 'í’ì†(m/s)', 'ìŠµë„(%)', 'ì§€ë©´ì˜¨ë„(Â°C)', 'ì ì„¤(cm)'
]
df_bike = df[bike_related_columns]

In [36]:
df_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ì¼ì‹œ        744 non-null    datetime64[ns]
 1   ê¸°ì˜¨(Â°C)    744 non-null    float64
 2   ê°•ìˆ˜ëŸ‰(mm)   23 non-null     float64
 3   í’ì†(m/s)   744 non-null    float64
 4   ìŠµë„(%)     744 non-null    int64
 5   ì§€ë©´ì˜¨ë„(Â°C)  744 non-null    float64
 6   ì ì„¤(cm)    84 non-null     float64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 40.8 KB

In [37]:
df_bike.sample(5)

                     ì¼ì‹œ  ê¸°ì˜¨(Â°C)  ê°•ìˆ˜ëŸ‰(mm)  í’ì†(m/s)  ìŠµë„(%)  ì§€ë©´ì˜¨ë„(Â°C)  ì ì„¤(cm)
468 2024-12-20 12:00:00     2.7      NaN      2.2     50       0.1     NaN
573 2024-12-24 21:00:00    -0.3      NaN      1.1     50      -1.0     NaN
384 2024-12-17 00:00:00    -1.5      NaN      0.8     70      -2.3     NaN
576 2024-12-25 00:00:00    -0.3      NaN      1.8     52      -1.4     NaN
605 2024-12-26 05:00:00     3.3      NaN      3.0     76      -0.3     NaN

In [38]:
df_bike.fillna(0, inplace = True)

C:\Users\mj985\AppData\Local\Temp\ipykernel_2012\2445096506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bike.fillna(0, inplace = True)

In [39]:
df_bike.sample(5)

                     ì¼ì‹œ  ê¸°ì˜¨(Â°C)  ê°•ìˆ˜ëŸ‰(mm)  í’ì†(m/s)  ìŠµë„(%)  ì§€ë©´ì˜¨ë„(Â°C)  ì ì„¤(cm)
497 2024-12-21 17:00:00    -0.7      0.0      2.2     67      -0.2     1.4
671 2024-12-28 23:00:00    -3.1      0.0      0.6     56      -4.0     0.0
552 2024-12-24 00:00:00    -1.1      0.0      1.6     51      -2.4     0.0
729 2024-12-31 09:00:00    -1.5      0.0      2.0     49      -2.5     0.0
692 2024-12-29 20:00:00     3.0      0.0      1.7     63      -0.3     0.0

In [40]:
# DataFrameì„ ìƒìœ„ í´ë”ì˜ datas í´ë”ì— cleaned_weather.csvë¡œ ì €ì¥

output_file_path = '../datas/cleaned_weather.csv'
df_bike.to_csv(output_file_path, index=False, encoding='cp949')

In [ ]:
# ëŒ€ì—¬ì†Œ Top 10
top_start = bike['ëŒ€ì—¬ì†Œëª…'].value_counts().head(10)
top_start.plot(kind='bar', title='Top 10 ëŒ€ì—¬ì†Œ', figsize=(8,4))
plt.show()

# ë°˜ë‚©ì†Œ Top 10
top_end = bike['ë°˜ë‚©ì†Œëª…'].value_counts().head(10)
top_end.plot(kind='bar', color='orange', title='Top 10 ë°˜ë‚©ì†Œ', figsize=(8,4))
plt.show()